<h1>Instagram e a tag que você buscou: "<%= @tag_searched %>"</h1>
<%= if @medias.count < 1 then "Não encontrado mídias recentes para esta tag" end %>
<% @medias.each do |media| %>
<p><%= image_tag media.images.thumbnail.url %></p>
<p>De <strong><%= media.user.username %></strong>, em <%= Time.strptime(media.created_time.to_s,'%Q') %></p>
<p><%= media.caption.text %></p>
<% end %>
<%= render 'partials/search' %>